:root {
  /* ------ Colors */
  /* Primary */
  --White: 0, 0%, 100%;
  --Black: 0, 0%, 0%;
  --Dark-Gray: 0, 0%, 55%;
  --Very-Dark-Gray: 0, 0%, 41%;
  /* ------ fonts */
  --ff-regular: "Alata", Arial, sans-serif;
  --ff-light: "Josefin Sans", Helvetica, sans-serif;
}

/* -------------------------------------------------------------- Global / Resets 
--------------------------------------------------------------------------------------------- */
html {
  font-size: 0.9375rem;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 0.9375rem;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  font: inherit;
  cursor: pointer;
}

/* -------------------------------------------------------------- Header
--------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------- Main
--------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------- Footer
--------------------------------------------------------------------------------------------- */
